[2011-05-05 00:47] cdhowie opened #1 "Outstanding long polling requests need to be aborted when the pool/assignment is disabled"
If the pool or pool-worker assignment corresponding to an outstanding long polling request is disabled, the long polling request does not abort.  This has three implications:
- The worker will likely not make a new long polling request after the next getwork and the worker will therefore not receive long polling notifications from the new active pool.  (If the new active pool does not support long

[2011-05-05 00:53] cdhowie opened #2 "Add support for Deepbit failover extensions"
The proxy should be modified to support [Deepbit's failover extensions](http://deepbit.net/failover.php).  This will require database schema changes to cache the contents of the `X-Host-List` header, as well as code changes to support failing over to the hosts.

[2011-05-08 20:10] cdhowie opened #3 "Implement back-off when a pool fails"
([Source forum post](http://www.bitcoin.org/smf/index.php?topic=5506.msg111362#msg111362))

When a pool fails to respond to a request or returns an error, the software should only try again on the next few requests and then back off for a minute or two to improve efficiency of the miner as well as give the pool some breathing room.

[2011-05-08 20:13] cdhowie opened #4 "Temporarily disable pool if a work submission request fails"
([Source forum post](http://www.bitcoin.org/smf/index.php?topic=5506.msg111362#msg111362))

If a work submission fails due to an HTTP or JSON-level error (this is different from the share being rejected), the software should try again a few times and then finally disable the pool for a few minutes to prevent miners from working a pool that cannot process share submissions.

[2011-05-10 03:13] cdhowie opened #7 "Add timezone option to configuration for display"
`config.inc.php` should have an option for the timezone (either GMT offset or proper named zone) that will be used to adjust timestamps before they are displayed.

[2011-05-14 07:04] rscullin opened #8 "Attempting to edit a pool results in "Pool not found.""
Attempting to edit a pool in the latest git commit ( 81b3ce1f9b492100ec847e2d2f500bf46f5ac0d7 ) results in the error "Pool not found."

This _seems_ to be because of a missing `GROUP BY` clause in the SQL query starting on line 96 in pool.inc.php, which throws a MySQL error. Adding `GROUP BY wp.worker_id` after the `WHERE` clause appears to fix this.

[2011-05-17 19:22] edgeman16 commented on #7
I would also like to vote for this issue, as I'm not used to UTC and it takes me a few seconds to determine when exactly events have been happening.

[2011-05-26 15:45] cdhowie commented on #7
Implemented in commit b51a2927b54b64929a39.

[2011-05-26 15:45] #7 closed, assigned to cdhowie

[2011-05-26 16:00] edgeman16 commented on #7
Very much appreciated :)

[2011-06-02 20:58] tecnobrat opened #9 "Allow disabling of long polling by miner or pool"
There are some clients which don't support long polling using params (phoenix is one), and end up hammering the webserver over and over.

Also long polling uses up a php process indefinitely.  I have had a situation where a client keeps hitting that URL every 5 seconds (because its having some sort of issues), causing all of the backend PHP processes to be used up.

Until this is a little more sta

[2011-06-02 21:56] cdhowie commented on #9
On 06/02/2011 04:58 PM, tecnobrat wrote:

I plan on adding a workaround for Phoenix at some point.

The latest code shouldn't have this problem anymore, as the maximum time
a long-polling request can last is just over an hour.  Long-polling
requests used to time out after a day, so you'd see those processes last
a day before being recycled.

##

Chris Howie
http://www.chrishowie.com
http://en.wiki

[2011-06-02 22:02] tecnobrat commented on #9
I think the issue for me is that I use nginx, which has a maximum execute timeout by default for fastcgi scripts (60 seconds by default), and these threads were being terminated by the webserver.

Are you referring to this code?

[code]

I tried tweaking this to 30 seconds, didn't seem to have an affect.

[2011-06-11 18:47] cdhowie commented on #9
On 06/02/2011 06:02 PM, tecnobrat wrote:

Try setting this to two hours.

##

Chris Howie
http://www.chrishowie.com
http://en.wikipedia.org/wiki/User:Crazycomputers

If you correspond with me on a regular basis, please read this document:
http://www.chrishowie.com/email-preferences/

PGP fingerprint: 2B7A B280 8B12 21CC 260A DF65 6FCE 505A CF83 38F5

---

[code]

This document should be read only

[2011-06-13 19:03] wibuf opened #10 "Apache Error"
[warn] Server ran out of threads to serve requests. Consider raising the ThreadsPerChild setting

No error appears, all my miners quit connecting, so I checked the apache logs and that appeared. Any idea?

[2011-06-14 05:34] aarontc opened #12 "Long-polling causes LigHTTPd/FastCGI to stop responding"
I'm still tracking down the exact cause, but if long-polling is enabled and you serve the proxy with LigHTTPd, it will quit responding to requests as the PHP FastCGI process hangs indefinitely.

Increasing the "max-procs" directive will delay this but it eventually happens in every configuration I've tried.

If you want more details, let me know, otherwise I'll keep pursuing this on my own and see

[2011-06-14 18:35] highjinks opened #13 "dupe"
dupe

[2011-06-14 19:09] #13 closed, assigned to cdhowie

[2011-06-14 20:34] alinnow opened #14 "Unhandled error on getwork"
I've managed to install and configure the proxy (adding pools, workers, and adding workers to pools), but when I point a miner to it, it seems that only the authentication happens. Here's what phoenix spits out:

[code]

Phoenix r101 does not give any error messages, but stays at 0Mhash/s
I've also tried using `bitcoin getwork`, to which I get `error: no response from server`. I'm not sure if this

[2011-06-15 06:03] torusJKL opened #15 "login unsuccessful"
When opening the page on /admin a login screen is presented.

After typing the username and password like defined in config.inc.php I get redirected to the same login screen.
I can do this a infinity time without ever getting into the site.

When removing
_auth_fail();_ from _function do_admin_auth()_
the site works without any problems.

[2011-06-15 16:56] cdhowie commented on #15
Try having PHP echo out your username and password both as entered and as defined in config.inc.php, and see if there are any differences.

Yes, but now anyone who can connect to your server can change your settings and see your passwords...

[2011-06-15 22:26] elitak commented on #10
I have a similar problem. I've tried both apache2-mpm-prefork and lighttpd; they both run out of resources with which to serve requests. It appears that the php scripts are leaking a very high percentage of processes/threads. My current workaround is to restart apache every 20 mins :(

I'm at a loss on how to debug this further. I need some way to inspect where each instance of the running php scr

[2011-06-15 22:30] elitak commented on #12
I get this too. I hadn't considered it was because of Long-Polling, but I guess that makes more sense.

[2011-06-16 04:50] aarontc commented on #12
I've experienced the same problem with Apache2 using mod_php5... further investigation set for this weekend.

[2011-06-17 04:24] pokeie opened #16 "UFAsoft miner share submissions failing"
It would seem that the ufasoft miner is failing to communicate with the proxy correctly. It receives work from the proxy, but when it submits completed  work, it never is actually processed, or passed through to the pool by the proxy. I have tried monitoring packets to see what is different about how ufa communicated vs puddinpop rpc, but apparently this is above my pay grade to figure out and con

[2011-06-17 22:39] KnightAR commented on #16
I've gotten a bit farther tracking down the problem but I still haven't fully understood why, When work is submitted it errors out with "Work not found in proxy database." and I also checked the database for the result and it really doesn't exist, but there are entries in the database for the miner ... it just doesn't include the data its sending. Here's an output from the json_error function:

`O

[2011-06-18 13:03] alinnow commented on #14
I decided to see what curl would do. For some reason I had difficulty with the command-line version, so I wrote some short PHP code to test it. Here's what it spat out:

[code]

I took the error_reporting directive out so that I could see what was happening. $http_response_header was undefined. At first I thought it was part of pecl_http, but actually it's just a php.ini setting that needs to be e

[2011-06-20 15:17] wyze commented on #16
Haha, sorry guys, still trying to get the hang of git. Basically, what causes this failing is that the return data from Ufasoft miner comes back as all uppercase in the hash string. The hash is stored in the database with a ascii_bin collation which makes it case sensitive. This is my work around which allows the shares to get submitted and shown up correctly on the dashboard.

[2011-06-20 15:24] cdhowie commented on #16
Thanks for the patch, wyze.  To be a bit more complete with the fix, I'm converting to lowercase when the data is initially inserted as well.  This would only be a problem if the pool/bitcoind returned the data uppercase, but you never know... it's good to cover all your bases.  (It's the old "be strict with your output and liberal with your input" bit of wisdom.)

[2011-06-20 15:24] #16 closed, assigned to cdhowie

[2011-06-20 15:34] cdhowie commented on #14
Fixed.  Thanks for investigating this.

[2011-06-20 15:34] #14 closed, assigned to cdhowie

[2011-06-20 15:38] cdhowie commented on #10
I can't reproduce this on apache2-mpm-prefork.  I'm afraid there isn't much I can fix without further input.

[2011-06-20 15:39] cdhowie commented on #9
The Phoenix issue should be resolved at this point (I implemented the workaround a few weeks ago).  Are there any more problems you're experiencing related to long-polling?

[2011-06-20 16:09] pokeie commented on #16
yeay! I will convert and test today. The only concern that would exist is if at the pool, if they expect a certain case. But probably not, since they all seem to use the same exact pool software. heh. Thanks guys.

[2011-06-20 16:32] cdhowie commented on #16
The pools themselves should accept upper or lowercase.  If they don't, then your miner wouldn't work directly against the pool anyway!  And in that case we could always patch the proxy to convert the data string to lower-case before sending it to the pool.

[2011-06-20 20:30] elitak commented on #10
I'm using deepbit as my upstream mining pool; it supports LP natively.

In the mpm_prefork settings, set the MaxClients to a low number (like 10) to get it to run out of processes faster. After letting some miners work through the mining-proxy for a while (or maybe even restarting them to generate lots of getwork requests), they'll use up all the procs holding php interpreters open. At that point,

[2011-06-21 14:49] wyze opened #17 "Saving changes when editing worker results in HTTP 500 (Internal Server Error)."
From the thread here: http://forum.bitcoin.org/index.php?topic=5506.msg180612#msg180612

[2011-06-21 14:52] wyze opened #18 "Edit multiple pools or workers on one page."
Referencing the post here: http://forum.bitcoin.org/index.php?topic=5506.msg202247#msg202247

To clarify this a bit, would like the option to edit all pools or all workers within the same page. This would not replace existing functionality but I think add another button below the list of pools/workers that has an 'Edit All' functionality.

[2011-06-21 14:56] wyze opened #19 "Copy worker/pool configuration."
Reference this post here: http://forum.bitcoin.org/index.php?topic=5506.msg219633#msg219633

Don't know if this would be really usable. I can see if you want multiple workers on the proxy to point to one worker on the pool. Does that defeat the point of this proxy?

[2011-06-21 16:53] #17 closed, assigned to cdhowie

[2011-06-21 21:27] elitak commented on #19
If you want to setup many workers in a batch operation, that can be done in SQL. The schema is very simple.

I may be wrong, but I think that having N slaves proxied to 1 upstream mining pool could result in duplicated work. I don't believe bitcoin-mining-proxy partitions the work across multiple slave accounts. I'm not ever sure if that's feasible, but I'm not familiar enough with the pooling pro

[2011-06-22 02:26] edgeman16 commented on #19
I wrote a small PHP cli script to toggle pools on/off, or rather promote certain pools to highest priority or lowest priority.
Wasn't difficult.

As for the multiple workers thing, some pools only have one "worker" defined (I'm thinking of ones like Eligius, where the username is your bitcoin address and the password is blank/not used; in these cases all miners are using the same username/password

[2011-06-23 14:03] edgeman16 opened #21 "A table showing summary of shares submitted per pool"
This is an enhancement/feature request, but I was wondering if there was a way to list pools and shares submitted to each pool in the past hour/hashrate.
Similar to the Worker table, but per pool instead.

[2011-06-23 14:47] wyze commented on #21
I actually am putting the finishing touches on this right now. Double checking everything and then will be submitting a pull request for this shorty.

I currently have the shares broken out by number of accepted and rejected instead of a total amount like the worker statistics, but now wondering if I should make them consistent.

Would you rather see them broken out with a percentage, or combined

[2011-06-23 15:01] edgeman16 commented on #21
Hmm. I wouldn't mind seeing the number of rejected. Though the percentage is probably more helpful.
Good to see which pools are performing poorly.
This would be useful information for the worker table as well. Good to see which workers are getting more rejected blocks, so you can debug why it's happening.

[2011-06-23 15:04] wyze commented on #21
Yes, I dropped the separation of accepted and rejected on the new pool status table and combined to total shares. I also replicated the code for the rejection percentage to the worker table. The tables are a bit more consistent in that sense now.

[2011-06-23 15:16] wyze commented on #8
I'm wondering if this is still an issue as Ii am not able to duplicate it and can edit pools fine on my end?

[2011-06-23 15:30] cdhowie commented on #8
@wyze, this issue is specific to some versions of MySQL and not others.  Newer versions seem to infer the GROUP BY clause, while older versions require it explicitly.

[2011-06-23 16:26] edgeman16 commented on #8
Doesn't seem to happen to me on MySQL 5.1.56.  FYI.

[2011-06-23 19:00] wyze commented on #8
Why not just add this in there then? It won't hurt newer versions of MySQL and will fix older versions. Wouldn't take a performance hit and a very small and simple change to the code.

[2011-06-24 14:42] cdhowie opened #23 "C# getwork/LP backend"
I would like to implement a C# service that can replace/supplement the PHP getwork/LP backend to more efficiently handle requests, keep queues of work around, and provide better failover decisions.  The current "execute code upon request" model is a bit limiting, so allowing a long-running service to decide how to failover and how/when to appropriately respond to miner LP requests (as well as to h

[2011-06-24 16:33] edgeman16 commented on #23
This would make the proxy sort of a more "standalone" proxy application vs. a PHP web application, correct?

[2011-06-24 19:10] cdhowie commented on #23
As designed, no.  The admin pages will still be used to administrate the application.  The new backend would replace /index.php (the script that handles getwork and long-polling requests).  It's more of an add-on service.

[2011-06-24 19:21] edgeman16 commented on #23
Gotcha. Works for me, I suppose I can ProxyPass or something to get requests to port 80 through Apache to the new backend handler.

[2011-06-25 13:57] edgeman16 opened #24 "Possible getwork problem"
See:  https://github.com/Diablo-D3/DiabloMiner/issues/21

[2011-06-25 17:57] wyze commented on #24
Can you do an export of the last 50 or so rows in your work_data table, where you are using DiabloMiner.

[2011-06-26 04:06] cdhowie commented on #23
I might include an Apache config recipe for doing exactly that.  Note that the existing PHP getwork/LP script will continue to work, so if you don't have access to mono on your server you will still be able to use the proxy.

[2011-06-26 10:47] kripz opened #25 "hashkill and DiabloMiner stops submitting shares"
90% shares arent being submitted?

Linux:
[24/06/11 8:49:58 PM] DEBUG: Attempt 77 found on Cypress (#3)
[24/06/11 8:50:02 PM] DEBUG: Attempt 78 found on Cypress (#2)
[24/06/11 8:50:07 PM] DEBUG: Attempt 79 found on Cypress (#2)
[24/06/11 8:50:12 PM] DEBUG: Attempt 80 found on Cypress (#3)
[24/06/11 8:50:13 PM] DEBUG: Attempt 81 found on Cypress (#2)
[24/06/11 8:50:14 PM] DEBUG: Attempt 82 found on

[2011-06-26 14:02] edgeman16 commented on #25
I have the same problem with DiabloMiner, the problem started after the author updated the getwork code with this commit:
https://github.com/Diablo-D3/DiabloMiner/commit/5a3a3728476111d321d280e9b349d03b3003a095
I've been using the DiabloMiner version from before this commit, and it runs fine with the proxy.

[2011-06-26 14:48] flower1024 opened #26 "multipool not working"
hi,

i really love your proxy!

but one of my pools "multipool.hpc.tw:8337 -u #btc adress# -p ignored" does not work.
on forums.bitcoin.org there is one post which might bring an solution: http://forum.bitcoin.org/index.php?topic=5506.msg280186#msg280186

regards & thank you for your work
flower

[2011-06-26 14:53] wyze commented on #26
I do have a fix here: https://github.com/wyze/Bitcoin-mining-proxy/commit/ee5a79dc0753a716bb714b649052a8fbaa124a1c

This was a hack to get it done late at night, find the problem, solve the problem. I would still like to discuss with @cdhowie if this is the best route to go though.

[2011-06-26 14:55] wyze commented on #25
I will switch one of my miners over to DiabloMiner and start to debug.

[2011-06-26 15:11] flower1024 commented on #26
i have tried your fix but i does not work for me.
proxy is ignoring this pool only when i disable all others my miner says "ERROR: Can't connect to Bitcoin: Bitcoin returned error message: No enabled pools responded to the work request.".

i am using diablominer with windows 7.

[2011-06-26 15:19] wyze commented on #26
If you are using the latest diablominer, I think there is an issue with that submitting shares as well. But, I don't think this is the same issue as they would be getting a different error. The error you are getting pertains to trying to do a getwork to multipool, which is what I had fixed in the commit.

[2011-06-26 15:28] flower1024 commented on #26
mineco.in and eclipsemc.com does work well.
so i thought i is about multipool then.

with phoenix miner:
minecoin works properly
multipool: no error, just shows 0mhash

[2011-06-26 16:31] jianershi opened #27 "feature request:bulk pool priority change option"
We most likely have a preferences over pools/servers over all our workers. Changing the priority on each individual worker is just tiresome. Wouldn't it be better to have a bulk pool priority change option for all workers?

[2011-06-26 16:33] jianershi opened #28 "feature request: drag and release to change priority of pools"
Rather than change individual priorities by click, edit and save, wouldn't it be much easier to just drag and drop to rearrange the position on the list?

[2011-06-26 16:35] jianershi opened #29 "separate interval settings for submitted share alert, hashing speed and stale rate"
for the stale rate, won't it make more sense if it is daily or even lifetime instead of default interval 1h?
but for submitted share alert, i would probably like 5min. to check whether one card is down.
for hashing speed, 15min will be fine.

so I recommend separate interval settings for submitted share alert, hashing speed and stale rate.

[2011-06-27 00:25] cdhowie commented on #25
Time incrementing is not yet supported; multiple submissions per getwork ("multiple nonces for the same getwork over short periods") are fully supported.

[2011-06-27 00:26] cdhowie commented on #24
Superseded by issue #25.

[2011-06-27 00:26] #24 closed, assigned to cdhowie

[2011-06-27 05:49] rscullin commented on #8
The version of MySQL that's giving me issues is:
`mysql  Ver 14.12 Distrib 5.0.51a, for debian-linux-gnu (i486) using readline 5.2`

[2011-06-28 19:53] cdhowie commented on #8
I have pushed 83d0672, which might resolve this issue.  Can those of you who have had trouble with this query pull down the latest and try again?

[2011-06-29 16:51] cdhowie commented on #25
This issue might have been fixed by the latest commit (30e06ac).  Please pull and test.  (Don't forget to run the database migration script.)

[2011-06-29 16:56] cdhowie commented on #15
On second glance, `$_SERVER['PHP_AUTH_USER']` and `$_SERVER['PHP_AUTH_PW']` are probably not being set due to the HTTP server's configuration.  This is a config-related issue.

[2011-06-29 16:56] #15 closed, assigned to cdhowie

[2011-06-29 17:02] cdhowie commented on #9
OP has not responded to inquiry; assuming the matter is resolved.

Also, commit e166598 allows long polling to be disabled completely if this is desired.

[2011-06-29 17:02] #9 closed, assigned to cdhowie

[2011-06-29 17:02] #21 closed, assigned to cdhowie

[2011-06-29 17:14] edgeman16 commented on #25
It appears to be fixed, I am using the latest DiabloMiner without issues.

[2011-06-29 17:16] tecnobrat opened #31 "View / Edit Workers from Pool Page"
Right now you can edit the pools assigned to a worker, through the worker.  This would allow the ability to add/edit/view workers from the reverse side. You choose the pool, and then add workers into it, etc.

[2011-06-29 17:17] tecnobrat opened #32 "Balance Stats API"
Many pools provide an API to view the balance of your account.  Perhaps this can be integrated so you can view the balance of all of your pools from the pool overview page.

[2011-06-29 17:28] cdhowie commented on #25
Excellent.

[2011-06-29 17:28] #25 closed, assigned to cdhowie

[2011-06-29 17:50] edgeman16 commented on #25
I may have spoke too soon, I am getting a large percentage of rejected shares after upgrading to the latest DiabloMiner...
http://eligius.st/~artefact2/3/1MFaYCcxgE3trzDcYKdeeMJoMCmA1RDe2M?autorefresh=1
Usually the number is less than 10%

[2011-07-01 07:51] kripz commented on #25
Just had the newest commits running for about 8 hours now. Again the proxy stopped accepting shares for some reason. Stopped for an hour and never recovered?

[1/07/11 5:46:12 PM] DEBUG: Forcing getwork update due to nonce saturation
[1/07/11 5:46:14 PM] DEBUG: Forcing getwork update due to nonce saturation
[1/07/11 5:46:37 PM] DEBUG: Forcing getwork update due to nonce saturation
[1/07/11 5:46:38

[2011-07-02 08:49] kripz commented on #25
Phoenix 100% rock solid

[170.99 Mhash/sec] [2922 Accepted] [72 Rejected] [RPC (+LP)]

[2011-07-02 09:10] leoninelion commented on #25
Same problem with DiabloMiner (example with deepbit, accountinfo x'd out):

ERROR: Cannot connect to Bitcoin: Bitcoin returned error message: Deepbit.lib.InfoException: Wrong data: checkWork: this nonce already completedpostWork user:xxxxxxxxxxxx worker: xxxxxxxxx ip: xxxxxxxxxxxxx data=000000011825819f70e8f600b57202ce1b32ee68b24a7ca1e9ee214c000000f500000000caea3326f343501479ef88131a0ac9639e5ef8d8

[2011-07-04 17:12] nohbdy001 opened #34 "Submission Caching"
Some pools take longer than 2 seconds to respond to submission requests (depending on load, ddos, etc...).  This isn't a problem during a getwork request (just hop to the second pool in line), but it has been causing a high number of "rejects" for me.

I propose implementing a submission caching system.  The proxy caches the submission allowing the worker to immediately request a new piece of work

[2011-07-05 14:11] cdhowie commented on #34
It shouldn't be causing any rejects in the proxy reports, unless the pool processes the request fine the first time but doesn't respond, and the proxy gets an error due to duplicate submission when it tries again.

The proxy currently tries up to ten times to submit the work.  A miner should not be blocking its worker thread while this request is outstanding; if it is, that is a functional issue w

[2011-07-05 14:19] nohbdy001 commented on #34
I actually made the exact same code change you made (except changed my timeout to 8) and this seemed to fix the issue for me.  It was with one particular pool that was particularly slow to respond.

I still like the idea of caching getworks and work submissions to deal with pools that are slow to respond.  But, that is a separate enhancement from this issue.  So, I'll close.

Thanks

[2011-07-05 14:19] #34 closed, assigned to cdhowie

[2011-07-05 14:28] cdhowie commented on #34
The new C# backend does keep a queue of getwork responses (two per worker).  Implementing this in PHP would be painful, since PHP was not really designed to run things in the background.

I might implement optional submission queuing in the new backend too, at a later date.

[2011-07-05 14:34] cdhowie commented on #25
@edgeman16: Please pull latest.  It's possible that the share submissions did succeed, but the request timed out in the proxy code before the pool was able to report success, so the proxy tried to submit the share again and this resulted in a failed (duplicate) submission.  The timeout for submissions has been raised to 30 seconds.

[2011-07-05 15:36] edgeman16 commented on #25
Latest DiabloMiner is still getting a bit more rejects than I would like. Currently at 11% and climbing.
This is latest DiabloMiner (downloaded today), latest proxy (pulled today and even has the human-time code), running against Eligius.
The latest DiabloMiner seems to hash slower than the older one I was using as well, so I think I will just switch back to the older version and keep using that.

[2011-07-06 15:36] echiu64 commented on #32
This is present for a while now, use this URL: /admin/?format=Json

[2011-07-06 15:41] cdhowie commented on #32
@echiu64: That's a different feature entirely.  @tecnobrat is requesting that the dashboard show the account balances of the various pools.

[2011-07-06 17:09] echiu64 commented on #32
Ah, my mistake. In that case, not sure about account balance, but for pool balance, would be useful to shortlist a set a pools to start with, maybe deepbit, slush and btcguild?

[2011-07-06 17:36] tecnobrat commented on #32
Current order of % of total hashrate:

(Note: BTCGuild is down I believe)
- Deepbit
- Slush
- BTCMine
- BitcoinPool
- Bitcoins.lc
- MTRed

[2011-07-07 03:59] cdhowie commented on #32
I would like to implement this feature in such a way that I don't have to special-case each pool, but rather leave it open for extension by the user.  This model will take a bit of work to design, so it probably won't be ready soon.

[2011-07-07 06:40] neofutur commented on #27
+1 , also needing this feature

[2011-07-08 02:15] raetha commented on #15
I'm new to git and not sure how to submit this as a pull request, but I found a fix for the issue. This appears to stem from using Apache with PHP in CGI mode.

To resolve the issue these lines need to be added to the .htaccess file:
<IfModule rewrite_module>
    RewriteEngine on
    RewriteRule .\* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
</IfModule>

Then in index.php and common.inc.php

[2011-07-08 03:44] raetha commented on #15
I've done some further work to refine this, but it may be irrelevant. It seems there is an issue running under Zend Server in CGI mode where the php-cgi.exe processes are not cleaning up correctly and eventually lock up the server. So it may be impossible to run this cleanly in CGI mode anyway which would make a fix to allow it non-useful.

[2011-07-08 14:38] cdhowie commented on #15
Thanks for investigating this, @raetha.  Let me know if you figure out a fix for the Zend Server process issue.  I'd like to include such fixes in documentation.

[2011-07-08 15:23] echiu64 commented on #32
I've written some simple perl scrapers for collectd, there are 2 categories, JSON and scraped.
JSON is probably the easiest, simply put the URL (which would include any API key/username/password) and then the JSON object to capture. For data that doesn't contain the total explicitly, would need a way to express how to sum up an array.

I vote we start support (with a generic slant) for deepbit/slu

[2011-07-08 17:02] edgeman16 commented on #32
I would like to request Eligius support as well, though I do not know the status of any API or similar.

[2011-07-08 21:54] raetha commented on #15
@cdhowie, I've definitely got things working to allow the logins, but I'm not enough of a php expert to properly diagnose why the processes weren't dying off. I did a little digging and found that a common issue is sessions not closing so the processes stay open waiting for the session to end. It sounded like session_destroy() might take care of it, but I'm not sure where in your code would be app

[2011-07-13 04:00] echiu64 commented on #32
I have a basic JSON only balance view, will push it to github in the next 24 hours. A better version would be to pull it into mysql and graph it.

[2011-07-13 17:05] echiu64 commented on #32
I added support for pools supporting JSON, i put examples for deepbit, btcguild and slush. If anyone has other URLs, send me the JSON data and I'll try to help you configure it. See my tree (https://github.com/echiu64/Bitcoin-mining-proxy)

[2011-07-13 19:17] tecnobrat commented on #32
Here is config for mtred:

[code]

[2011-07-13 19:20] tecnobrat commented on #32
btcmine:

[code]

[2011-07-13 19:34] tecnobrat commented on #32
bitcoinpool doesn't use API keys, they allow you to see the balances of any user.  Put your USERNAME in the correct location.

[code]

[2011-07-13 19:47] edgeman16 commented on #32
Eligius has data in a json:

http://eligius.st/~luke-jr/raw/5/balances.json

You'd have to know the bitcoin address you wanted to look for, no API keys required... I think?

[2011-07-13 20:18] echiu64 commented on #32
Sent a pull request for initial balance chart implementation...

[2011-07-13 23:56] Obsi opened #38 "Bitp.it Pool Not Working"
Not sure what the issue here is, if someone can point me in the direction to debug this I'll happily do it. The pool works fine with a direct connection from phoenix, but doesn't get used at all via proxy.

I've double checked pool info in the proxy DB and it is correct. Perhaps related to the multipool issue?

[2011-07-14 01:30] echiu64 commented on #32
Committed the examples for BTCMine, the others are in there as well

[2011-07-14 02:56] raetha commented on #15
@cdhowie, without knowing for sure how the actual pool communication part of the code works, since you are proxying I'm guessing the work request session stays open to monitor for long polls in case the client needs to stop the current getwork. In that situation I'm wondering what happens when a getwork completes successfully and/or a long poll is passed and the getwork dropped. Are you calling a

[2011-07-14 22:00] Obsi commented on #38
Ok, I did a tcpdump between a working phoenix connection to bitp.it and a failing one from the proxy. These are the getwork requests:
Phoenix-
  POST / HTTP/1.1
  Content-Length: 44
  Host: bitp.it:8334
  Content-Type: application/json
  Authorization: Basic xxx
  User-Agent: phoenix/r100

  {"params": [], "method": "getwork", "id": 1}

Bitcoin-Mining-Proxy:
  Host: pool.bitp.it:8334
  Content-Len

[2011-07-15 00:24] Obsi commented on #38
Well, I futzed with the code for a bit, but I can't seem to get it to output the POST header before the others without rewriting the stream_create_context code into curl or something. The user agent string doesn't seem to be an issue. Looking into the issue more, it seems to be a problem with nginx returning 502 Bad Gateway errors when this header isn't set.

[2011-07-15 01:06] jwhitehorn commented on #38
I'm with bit pit, and we actually looked at this issue. It's kinda a bug in PHP that makes a bug in Node (which our pools is built on) upset.

The details of the Node bug are here: https://github.com/joyent/node/issues/1165

But in the bug you can see references to the PHP bug. Apparently when PHP sends an HTTP request it appends two sets of CRLF, despite the HTTP spec saying to do a single CRLF.

[2011-07-19 13:21] ottuzzi opened #39 "Add support for proxy"
Hi,

   is it possible to add support for a proxy?
I'm behind a squid proxy and I cannot access internet directly: I'm not a PHP expert but it looks like you need to change function place_json_call() in common.inc.php.

Thanks
Bye
Piero

[2011-07-23 06:11] cdhowie commented on #39
Yes, this can be done.  Note, however, that some proxies might not forward the relevant X-\* headers, so some features may not work.  Additionally, proxies might limit the request duration, so long-polling might not work at all.  These restrictions will vary depending on the proxy software/configuration.

[2011-07-23 06:15] cdhowie commented on #38
@jwhitehorn: Thanks for digging into this.  I'm going to experiment with the new backends I've been working on; hopefully I can get them to issue the request correctly (if they don't already).

As much as I'd like to fix this issue in the PHP backend too, I'm not about to roll my own HTTP client library to work around this.

[2011-07-25 13:13] raetha commented on #32
@edgeman16: I've added Eligius support in my fork based on the work @echiu64 completed for the other pools balance data. Unfortunately Eligius does require a separate script, but I've built it all in so that all you would need to do is update the config file and pull the getEligius.php script. Feel free to grab just the new script and the config entries, or to pull the entire fork.

[2011-07-25 15:51] raetha commented on #31
@tecnobrat : Just completed adding this support to my fork with this commit; https://github.com/raetha/Bitcoin-mining-proxy/commit/2b1d9160a9c44f85cc47027d5a6bb8a677af3901

This is based off the existing worker-pools code so I may have missed some cleanup, but it appears to be functioning well for me at this point and should be easy to pull in since it is primarily new files with only minor modifi

[2011-07-25 21:51] raetha commented on #27
@hipaulshi, @neofutur: I've just added the ability to edit all configured workers priority, username and password for a pool in my fork. This is based off another commit earlier today which provided a page to see and edit all workers from a single pool's perspective. Feel free to grab the modified files or my fork as a whole.

https://github.com/raetha/Bitcoin-mining-proxy/commit/5d4b32ba5021526fe

[2011-07-28 14:44] weeb0 opened #40 "PHP Notice: Undefined variable: http_response_header in common.inc.php on line 125"
using latest git version,

I'm getting the message in error_log of apache.

I posted a new topic in bitcoin forum : ( http://forum.bitcoin.org/index.php?topic=32547.msg406460#msg406460 )

[2011-07-28 17:54] weeb0 commented on #40
I explored this, and it appear when using the http_response_header in a function, it is necessary to pass the variable as a function parameter.

I changed the function header to :
function place_json_call($object, $url, $username = '', $password = '', &$headers, $timeout = 2,$http_response_header)

and the line calling the function should be like :
    $response = place_json_call($request, $row['u

[2011-07-28 18:01] alinnow commented on #40
Duplicate of #14

Find your php.ini and uncomment `allow_url_fopen = On` or change it to On if it's Off

[2011-07-28 18:05] weeb0 commented on #40
I don't agree.  The allow_url_fopen is already On (this is validated with phpinfo() ) and doing the changes suggested in my second comment solve the issue.

[2011-07-28 18:27] alinnow commented on #40
`$http_response_header` is a reserved variable when `allow_url_fopen = On`: you should not create it.

The [PHP docs](http://www.php.net/manual/en/reserved.variables.httpresponseheader.php) indicate that the syntax is correct and the variable should be defined without explicit declaration

It's likely that the `@file_get_contents` call failed (line 123), remove the @ and see what errors come up th

[2011-07-28 18:42] #40 closed, assigned to nobody

[2011-07-29 01:04] weeb0 opened #41 "'SQLSTATE[HY000] [1040] Too many connections'"
After few hours, I cannot connect to the proxy, in apache error_log, I see the following message :

[Thu Jul 28 20:17:37 2011] [error] [client 192.168.0.XXX] PHP Fatal error:  Uncaught exception 'PDOException' with message 'SQLSTATE[HY000] [1040] Too many connections' in common.inc.php:33\nStack trace:\n#0 common.inc.php(33): PDO->__construct('mysql:host=loca...', 'bitcoin_proxy', '741369')\n#1 in

[2011-08-12 00:17] Obsi commented on #41
I had to tweak my.cnf for similar reasons. If I recall, I dropped wait_timeout to 120 and upped max_connections to a few thousand. I had noticed quite a few stale connections just hanging around, so you might get by with just setting the timeout to something decent.

[2011-08-19 21:16] alwaysdoingstuff opened #42 "Malformed long-polling request URL"
I am getting an error message that says:

Malformed long-polling request URL

Sorry if the answer is already buried in here someplace, I cannot find it.

Everything appears to be set up correctly - Pools added and active, workers added and active. Dashboard and SQL server appear to be working, but thats as far as it goes. I've tried different pools, and have had no luck. Could somebody help me out

[2011-08-21 23:40] #42 closed, assigned to nobody

[2012-01-27 06:17] Azelphur opened #43 "Worker status doesn't seem to be working any more"
My miners are doing 418Mhash/sec, yet on the dashboard, it says 1 miner is up doing 1.93MHash. While it reports the other 7 as down completely. I've been running the proxy for about 4 hours now.

My setup is Phoenix 1.7.4 -> bitcoin mining proxy -> merged mining proxy -> bitcoin/namecoin/ixcoin/i0coin daemons

Really like the look of this proxy, hope we can fix this one :D

[2012-01-29 21:03] luke-jr opened #44 "Extra \r\n\r\n sent after JSON content"
The proxy is sending an extra "\r\n\r\n" after the JSON content of the HTTP request. This is an error.

[2012-01-29 21:15] cdhowie commented on #44
Whitespace is insignificant most places in JSON.  Please cite which part of the JSON-RPC specification indicates that trailing whitespace is forbidden.

[2012-01-29 21:18] cdhowie commented on #44
From the [JSON spec](http://www.ietf.org/rfc/rfc4627.txt):

[2012-01-29 21:20] luke-jr commented on #44
It's not counted in Content-Length

[2012-01-29 21:22] cdhowie commented on #44
Are you saying that the Content-Length header includes the 4 whitespace bytes and shouldn't, or that it doesn't include them and it should?

[2012-01-29 21:27] luke-jr commented on #44
The Content-Length header only counts the bytes up to the '}' and does not include the \r\n\r\n following it. It should.

[2012-01-29 21:30] cdhowie commented on #44
The proxy does not directly set the Content-Length header.  This would be a bug or misconfiguration in the server stack (PHP and/or your httpd).

[2012-01-29 21:30] #44 closed, assigned to nobody

[2012-02-08 18:52] edgeman16 opened #45 "IPv6-only pool does not appear to function"
I was unable to mine with a pool hostname that only resolved to an IPv6 address.

[2012-04-12 18:39] cdhowie commented on #45
I'm not aware of anything in the proxy that would prevent IPv6 pools from working.  My initial guess is that this is a PHP limitation or network configuration problem.  This needs to be investigated.

[2013-03-24 21:58] cartoon1996 opened #46 "Can cdhowie btc proxy run on nginx"
as the title says, can it?

[2013-03-25 00:59] cdhowie commented on #46
I'm closing this since this is not an issue.  I will follow up with you via a Github message.

[2013-03-25 00:59] #46 closed, assigned to nobody

[2013-03-25 01:02] cdhowie commented on #46
It looks like Github removed the private messaging feature.  You are welcome to send me an email using the email address on my Github profile.

[2013-03-27 17:22] ghost opened #47 "I simply just can't get the mining proxy to work.."

[2013-03-27 17:48] cdhowie commented on #47
Closing, as it can't be determined if this is a bug or not, and issues aren't really meant to be support requests.

If you need support, feel free to contact me using the email address on my profile page, or on Freenode IRC (my nick is SerajewelKS).

[2013-03-27 17:48] #47 closed, assigned to nobody

[2016-04-20 02:21] #18 closed

[2016-04-20 02:21] #19 closed

[2018-05-14 02:00] Creat-coin opened #48 "use mining-proxy"
Hello,

Can we still use scrypt?
How to set it up is how to connect our worker SVP

with cgminer

A big thank-you

[2018-11-05 19:46] #12 closed

[2021-01-26 19:30] elgotti95 opened #49 "Connecting to proxy with miners"
Hey boss! :)
How can i connect to the proxy for example with guiminer?
Host: Webserver IP, port 80? username/pw ok

I tried several programs, but the answer: Server not found, or Nothing to read from server after xtime sleeping 1 seconds inbetween

I have forwarded 80, 443, 3333, 3433, 8888 ports

Adresses in database:
name: Zpool
stratum+tcp://scrypt.eu.mine.zpool.ca:3433

name: LTCPOOL
url: tcp: